<div class="form-group">
	<%= f.label :answer %>
	<%= f.text_field :answer %>

	<%= f.label :is_correct, :class => "checkbox" do %>
		<%= f.check_box :is_correct %>Correct
	<% end %>

	<%= f.hidden_field :_destroy %>
	<%= link_to "remove", '#', class: "remove_fields" %>
</div>
