<%= form_for [@quiz, @question], :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
  <% if @question.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :question, class: 'col-md-2 control-label' %>
    <div class='col-md-10'>
      <%= f.text_field :question, class: 'form-control'  %>
    </div>
  </div>

  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Answer", f, :answers %>

  <%= f.submit "Create Question", class: "btn btn-large btn-primary" %>
<% end %>
