<%= form_for [@quiz, @question], :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
  <% if @question.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :question, class: 'col-md-2 control-label' %>
    <div class='col-md-10'>
      <%= f.text_field :question, class: 'col-md-10 form-control'  %>
    </div>
  </div>

  <input id="next_answer_id" type="hidden" value="2">

  <div id="answers">
    <%= f.fields_for :answers do |builder| %>
      <%= render 'answer_fields', f: builder  %>
    <% end %>
  </div>

  <div class="col-md-offset-2">
    <%= link_to_add_answer "Add Answer", f, :answers %>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary">Create Question</button>
    </div>
  </div>

<% end %>
