<% provide(:title, 'Admin') %>

<h1>Admin</h1>

<%= form_tag admin_destroy_multiple_path, :method => :delete, :remote => true do %>

  <h3 class='text-center'>Tags</h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Select</th><th>Name</th><th>Creator</th><th>Quizzes</th><th>Lessons</th><th>Remove</th>
      </tr>
    </thead>
    <%= render :partial => 'category', :collection => @categories %>
  </table>

  <%= submit_tag "Delete selected" %>

  <h3 class='text-center'>Quizzes</h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Select</th><th>Name</th><th>Creator</th><th>Questions</th><th>Lessons</th><th>Remove</th>
      </tr>
    </thead>
    <%= render :partial => 'quiz', :collection => @quizzes %>
  </table>

  <%= submit_tag "Delete selected" %>

  <h3 class='text-center'>Sources</h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Select</th><th>Name</th><th>Creator</th><th>Quizzes</th><th>Questions</th><th>Remove</th>
      </tr>
    </thead>
    <%= render :partial => 'lesson', :collection => @lessons %>
  </table>

  <%= submit_tag "Delete selected" %>

<% end %>