<% provide(:title, @content_node.name) %>
<div class="row">
  <% @content_node.structure_nodes.each do |parent| %>
    <%= link_to "&uparrow;".html_safe + parent.name, category_path(parent) %>
  <% end %>

  <h1>
    <%= @content_node.name %>
  </h1>

  <% if @content_node.needs.count > 0 %>
    <% if @content_node.enables.count > 0 %>
      <section class="span4 offset2">
    <% else %>
      <section class="span4 offset4">
    <% end %>
      <h2>Needs:</h2>
      <ul class="content_nodes">
        <%= render @content_node.needs %>
      </ul>
    </section>
  <% end %>

  <% if @content_node.enables.count > 0 %>
    <% if @content_node.needs.count > 0 %>
      <section class="span4">
    <% else %>
      <section class="span4 offset4">
    <% end %>
      <h2>Enables:</h2>
      <ul class="content_nodes">
        <%= render @content_node.enables %>
      </ul>
    </section>
  <% end %>
</div>

<div class="row">
  <% if @content_node.lessons.count > 0 %>
    <% if @content_node.evaluators.count > 0 %>
      <section class="span4 offset2">
    <% else %>
      <section class="span4 offset4">
    <% end %>
      <h2>Lessons:</h2>
      <ul class="lessons">
        <%= render @content_node.lessons %>
      </ul>
    </section>
  <% end %>

  <% if @content_node.evaluators.count > 0 %>
    <% if @content_node.lessons.count > 0 %>
      <section class="span4">
    <% else %>
      <section class="span4 offset4">
    <% end %>
      <h2>Evaluators:</h2>
      <ul class="content_nodes">
        <%= render @content_node.evaluators %>
      </ul>
    </section>
  <% end %>
</div>
