<% provide(:title, @content_node.name) %>
<div class="row">
  <% @content_node.structure_nodes.each do |parent| %>
    <%= link_to "&uparrow;".html_safe + parent.name, category_path(parent) %>
  <% end %>

  <h1>
    <%= @content_node.name %>
  </h1>

  <section class="span4 offset2">
    <h2 style="text-align:left;">Prerequisites:</h2>
    <% if @content_node.needs.count > 0 %>
      <ul class="content_nodes">
        <%= render @content_node.needs %>
      </ul>
    <% else %>
      <p>This topic has no prerequisites.</p>
    <% end %>

    <%#= link_to "+ Add Prerequisite", new_category_path(parent: @content_node) %>
  </section>

  <section class="span4">
    <h2 style="text-align:left;">Next Steps:</h2>
    <% if @content_node.enables.count > 0 %>
      <ul class="content_nodes">
        <%= render @content_node.enables %>
      </ul>
    <% else %>
      <p>This topic leads to no next steps.</p>
    <% end %>

    <%#= link_to "+ Add Next Step", new_category_path(parent: @content_node) %>
  </section>
</div>

<div class="row">
  <section class="span4 offset2">
    <h2 style="text-align:left;">Lessons:</h2>
    <% if @content_node.lessons.count > 0 %>
      <ul class="lessons">
        <%= render @content_node.lessons %>
      </ul>
    <% else %>
      <p>This topic has no lessons.</p>
    <% end %>

    <%= link_to "+ Add Lesson", new_lesson_path(node: @content_node) %>
  </section>

  <section class="span4">
    <h2 style="text-align:left;">Evaluators:</h2>
    <% if @content_node.evaluators.count > 0 %>
      <ul class="content_nodes">
        <%= render @content_node.evaluators %>
      </ul>
    <% else %>
      <p>This topic has no evaluators.</p>
    <% end %>

    <%= link_to "+ Add Evaluator", new_evaluator_path(node: @content_node) %>
  </section>
</div>
