<% provide(:title, @concept.name) %>
<div class="row">
  <% @concept.categories.each do |parent| %>
    <%= link_to "&uparrow;".html_safe + parent.name, category_path(parent) %>
  <% end %>

  <h1>
    <%= @concept.name %>
  </h1>

  <section class="span4 offset2">
    <h2 style="text-align:left;">Necessities:</h2>
    <% if @concept.prereqs.count > 0 %>
      <ul class="concepts">
        <%= render @concept.prereqs %>
      </ul>
    <% else %>
      <p>This concept requires no necessities. Add one!</p>
    <% end %>

    <%= link_to "+ Add Necessity", new_concept_prereq_path(@concept) %>
  </section>

  <section class="span4">
    <h2 style="text-align:left;">Possibilities:</h2>
    <% if @concept.postreqs.count > 0 %>
      <ul class="concepts">
        <%= render @concept.postreqs %>
      </ul>
    <% else %>
      <p>This concept provides no new possibilities. Add one!</p>
    <% end %>

    <%= link_to "+ Add Possibility", new_concept_postreq_path(@concept) %>
  </section>
</div>

<div class="row">
  <section class="span4 offset2">
    <h2 style="text-align:left;">Lessons:</h2>
    <% if @concept.lessons.count > 0 %>
      <ul class="lessons">
        <%= render @concept.lessons %>
      </ul>
    <% else %>
      <p>This concept has no lessons. Add one!</p>
    <% end %>

    <%= link_to "+ Add Lesson", new_lesson_path(node: @concept) %>
  </section>

  <section class="span4">
    <h2 style="text-align:left;">Evaluators:</h2>
    <% if @concept.evaluators.count > 0 %>
      <ul class="concepts">
        <%= render @concept.evaluators %>
      </ul>
    <% else %>
      <p>This concept has no evaluators. Add one!</p>
    <% end %>

    <%= link_to "+ Add Evaluator", new_evaluator_path(node: @concept) %>
  </section>
</div>

<!-- this is the element our script attaches the SVG element to -->
<div id="graph"></div>

<script>

  var prereqs = <%= raw(@prereqs) %>
  var postreqs = <%= raw(@postreqs) %>
  var conceptID = <%= raw(@concept.id.to_json) %>

  function clickFunction(d) {
    window.location.href = d.url;
  };

  var graph = ConceptGraph();
  graph("#graph", prereqs, postreqs, conceptID);
  graph.nodeOnClick(clickFunction);

</script>
