<h1 id="header">Select a category to show quizes</h1>

<% if (request.fullpath.index('prereq')) %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@dependency.prereq, @dependency], url: quiz_prereqs_path) do |f| %>
      <%= f.hidden_field :postreq, :value => @dependency.postreq.id %>
      <%= f.hidden_field :prereq %>
      <%= f.submit "Create Necessity", class: "btn btn-large btn-primary", id: "submit-button" %>
    <% end %>
  </div>
</div>

<% else %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@dependency.postreq, @dependency], url: quiz_postreqs_path) do |f| %>
      <%= f.hidden_field :prereq, :value => @dependency.prereq.id %>
      <%= f.hidden_field :postreq %>
      <%= f.submit "Create Possibility", class: "btn btn-large btn-primary", id: "submit-button" %>
    <% end %>
  </div>
</div>

<% end %>

<!-- this is the element our script attaches the SVG element to -->
<div id="graph"></div>

<script>

  d3.selectAll("#submit-button").style("display", "none");

  var data = <%= raw(@jsonNodes) %>

  function categoryClickFunction(d) {
    d3.selectAll("#header").text("Select a quiz");

    d3.selectAll("g.node").classed("active", false);
    d3.select(this).classed("active", true);

    graph.showQuizes(d);
  };

  function quizClickFunction(d) {

    d3.selectAll("g.node").classed("active", false);
    d3.select(this).classed("active", true);

    <% if (request.fullpath.index('prereq')) %>

    d3.selectAll("#header").text("Add " + d.name + " as a necessity to <%= @dependency.postreq.name %>?");
    d3.selectAll("#dependency_prereq").property("value", d.id);

    <% else %>

    d3.selectAll("#header").text("Add " + d.name + " as a possibility to <%= @dependency.prereq.name %>?");
    d3.selectAll("#dependency_postreq").property("value", d.id);

    <% end %>

    d3.selectAll("#submit-button").style("display", "block");
  };

  var graph = CategoryGraph();
  graph("#graph", data);
  graph.categoryNodeOnClick(categoryClickFunction);
  graph.quizNodeOnClick(quizClickFunction);

</script>